body {
  font-family: calibri;
}
.doc_intro {
  margin-top:50px;
  background-color: #3e8cff;
  text-align: left;
  background-image: url(NavImags/doctors_banner-title-background.jpg);
  background-position: 0 0;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 80px;
  position: relative;
  color: white;
  margin-bottom: 150px;
}
.doc_overlay {
  max-height: 100%;
  max-width: 100%;
  background-color: rgba(2, 32, 77, 0.9);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  padding: 150px;
}

/* content*/
.v_logs{
  background-color: #D3DBF4 ;
  box-shadow: 4px 4px 8px 3px #D3DBF4 ;
}

.vlogs_cont {
  text-align: center;
}

.contact_icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.icons_cont {
  color: white;
  background-color: #3e8cff;
  padding: 10px;
  border-radius: 10px;
}

.icons_cont:hover {
  background-color: #07306e;
  cursor: pointer;
}
@media all and (max-width: 650px) {
  .doc_overlay {
    font-size: 25px;
  }
}


.v_logs {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 /* Initially hide the images */
 .img-card {
  width: 180px;
  height: 180px;
  transition: transform 0.3s ease-in-out;
}



.img-card:hover {
  transform: scale(1.2); 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.v_logs {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}


.v_logs {
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
